<<<<<<< HEAD
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box;font-size:62.5%}*,:after,:before{box-sizing:inherit}body{font-family:freight,Helvetica neue,Helvetica,Arial,sans-serif;font-size:25.6px;font-size:1.6rem;margin:48px;margin:3rem;background:radial-gradient(#6b6ff4,#494dc9);background-size:100vw 100vh;color:#fff;line-height:30.72px;line-height:1.92rem}header{margin:32px 0;margin:2rem 0}h1{font-size:64px;font-size:4rem;font-weight:800;font-family:denmark}a,h1{color:#fff}a{text-decoration:none}.container-image{width:100%}.image{position:relative;z-index:-1;height:480px;height:30rem;width:28vw;-o-object-fit:cover;object-fit:cover;margin-top:32px;margin-top:2rem;margin-right:48px;margin-right:3rem;box-shadow:.5rem .8rem 2rem #494dc9}.list-images{z-index:-12;display:-webkit-box;display:-ms-flexbox;display:flex}.abc{position:absolute;z-index:12;margin-top:496px;margin-top:31rem;margin-left:480px;margin-left:30rem;font-size:96px;font-size:6rem;text-shadow:8px 12.8px 32px #494dc9;text-shadow:.5rem .8rem 2rem #494dc9}.players{display:-webkit-box;display:-ms-flexbox;display:flex;padding:16px;padding:1rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.playernumber{font-family:denmark;font-size:32px;font-size:2rem;font-weight:800;padding-left:32px;padding-left:2rem}.startpage{margin-top:96px;margin-top:6rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.homebody{margin:0 auto;text-align:center}.qr-code{margin-top:160px;margin-top:10rem}.button{margin-left:80px;margin-left:5rem;margin-right:16px;margin-right:1rem;padding:16px 48px;padding:1rem 3rem;border-radius:4rem;background-color:#6b6ff4;box-shadow:.5rem .8rem 2rem #494dc9}.buttons{margin-top:160px;margin-top:10rem}.vote-value{color:#000;font-size:40px;font-size:2.5rem;font-weight:800;width:192px;width:12rem;margin-left:264px;margin-left:16.5rem;margin-top:112px;margin-top:7rem;padding:16px 32px;padding:1rem 2rem;border-radius:4rem;background-color:#fff;box-shadow:.5rem .8rem 2rem #494dc9}.vote-value:before{content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAYCAMAAAAxgAaOAAAAulBMVEVHcEz/Rzr/Rzr/SDr/Rzf/SDn/Rjr/SDr/Px//MzP/QzX/SDr/SDb/SDr/Rzn/Rjn/Rzr/Rzn/Rjn/Rzr/Pyr/AAD/SDn/SDr/SDn/Rzr/Rzj/Rzr/Rzr/SDr/SDr/SDr/AAD/SDr/SDr/SDr/SDr/SDr/SDr/SDn/SDn/SDn/Rzr/SDj/SDr/SDr/SDr/SDr/SDr/Rzj/SDn/Rjr/SDn/SDn/SDr/SDj/SDr/Rzn/SDr/Rzj/Rzn/STsHk5Z8AAAAPXRSTlMAJ2j6QL5X+wgFJoMOzaRQ+KMo1QwBsEZ4iDJyp+/29wL087/mkZRYand2cHHnk5C7RENlZoq6P4y5s1Zrmvd6dgAAALpJREFUGBl1wQViwkAARcEXF9xdKlB3l3//azWQkFDIzrDRHYz69rhHqje2+6NBl4zfUSLwntl48gIlOj5bE2WcITB0lJmQcAPlbrhVzvmA5aMKp5cnKrwvsRYyWcT4MvvhU2ZvfMnsm1+Z2cRzmcxjmMpkCrRnKjezSLyq3AtbK5V5IBXVdawVkQnrOtQKyUVr/Xcfse8qUCG45kDjTjvnDY60z5TyLEqElaakZiWknFtTzcWoelFl3x8DtWhjhGAFxwAAAABJRU5ErkJggg==);padding-right:32px;padding-right:2rem}.answer-btn-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:32px;margin-top:2rem}.answer-btn{border-radius:1.5rem;background-color:#6b6ff4;box-shadow:.5rem .8rem 2rem #494dc9;border:none;width:90vw;height:18vh;padding:16px;padding:1rem;margin-top:32px;margin-top:2rem;font-family:denmark;font-size:48px;font-size:3rem;font-weight:700;color:#fff}.phone-vote{margin-top:64px;margin-top:4rem}.phone-title{font-size:48px;font-size:3rem}.desc-mobile{margin-top:16px;margin-top:1rem}.desc{margin-top:48px;margin-top:3rem;margin-bottom:32px;margin-bottom:2rem}.button-next{margin-top:64px;margin-top:4rem;border:none;background-color:#6b6ff4;box-shadow:.5rem .8rem 2rem #494dc9;border-radius:3rem}
=======
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
body {
  font-family: freightmedium, 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  margin: 48px;
  margin: 3rem;
  background: radial-gradient(#6b6ff4, #494dc9);
  background-size: 100vw 100vh;
  color: white;
  line-height: 30.72px;
  line-height: 1.92rem;
}

header {
  margin: 32px 0;
  margin: 2rem 0;
}

h1 {
  color: white;
  font-size: 64px;
  font-size: 4rem;
  font-family: denmark;
}

a {
  text-decoration: none;
  color: white;
}

.container-image {
  width: 100%;
}

.image {
  position: relative;
  z-index: -1;
  height: 480px;
  height: 30rem;
  width: 28vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 32px;
  margin-top: 2rem;
  margin-right: 48px;
  margin-right: 3rem;
  box-shadow: .5rem .8rem 2rem #494dc9;
}

.list-images {
  z-index: -12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abc {
  position: absolute;
  z-index: 12;
  margin-top: 496px;
  margin-top: 31rem;
  margin-left: 480px;
  margin-left: 30rem;
  font-size: 96px;
  font-size: 6rem;
  text-shadow: 8px 12.8px 32px #494dc9;
  text-shadow: .5rem .8rem 2rem #494dc9;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playernumber {
  font-family: denmark;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 800;
  padding-left: 32px;
  padding-left: 2rem;
}

.startpage {
  margin-top: 96px;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homebody {
  margin: 0 auto;
  text-align: center;
}

.button {
  margin-left: 80px;
  margin-left: 5rem;
  margin-right: 16px;
  margin-right: 1rem;
  padding: 16px 48px;
  padding: 1rem 3rem;
  border-radius: 4rem;
  background-color: #6b6ff4;
  box-shadow: .5rem .8rem 2rem #494dc9;
}

.buttons {
  margin-top: 480px;
  margin-top: 30rem;
}

.vote-value {
  color: black;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 800;
  width: 192px;
  width: 12rem;
  margin-left: 264px;
  margin-left: 16.5rem;
  margin-top: 112px;
  margin-top: 7rem;
  padding: 16px 32px;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: white;
  box-shadow: .5rem .8rem 2rem #494dc9
}

.vote-value::before{
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAYCAYAAAAGXva8AAAAAXNSR0IArs4c6QAAAqJJREFUSA29Vk1oE0EUfm8SMYLoVTx58w+xij9pgpCKtqknbx48KXjxVrVWDBRtLYhSUVEE9agHbypo0pbWSGlSe1AvSvXkScFcVIQ2TbLPb7bOdrNJTDZpXdidN/O+n503M+wyeS6JbV9La9ZHyKKDxLSFhFNEpRkamX7HROKBO10kmLrCu4gC+4glDuQsKZqguZ8ZTn/47QARQGfpks7oMQD7MbptaRSRUBGPSdxDnMqOl+V0uit8iFhdhNwBcINleaGPmMAAj049MeOOqcQjZ4h52CSqtiIFWPTD+KrJS7z9AswGwF1lxqq2Imc5lbmhc7apxMMxlGWs4i2rsvWg1cPJ7E2JR3vAsYVqQk1CvzDLYfBeB7EWCoaJxg2hImoQlVlANGg067Z2JTgBv0kseXQzCO9hGqpLbBUgNE+Fwk6FRW77L4b6hfXEgqpNUUD2tjoBX3zmPQrHYYcvUqtg5q0wleet6vjiW/xCUbE0hu0454vYNBg+xcKE4vGZzyjxs6Z1/BDho/1wRnFZchnPH3a8cg/o8yUtb5vyaHYWJe5bOT8oW3KeU1OfHFMdcDJzH5vqto6X/5JbPJJ5YHQXy2t6ufw5GD823WVpRR7R93yvW8v5yphBiW0KUWjjQ3w1jpuxplttOP/1FKe/zLs1ymeKjA3I5U9gR991A5uI71Auf9JrqHUqZuoWl+5IH/4crgBV/mF2g7yx/uCLJLCG17wp0/+nqQZJZ/tRCqh7CDcYUs1W6BtZ1mmchqc1MUhUlNcLtgVKVgfKnfbmyvoir9DvqGeoOXVnaoT/brAEKL1grTbjeJk86nEdG2ao2vo5OFfQsKnhLP7aqGHs7t1Yu7c49fj3mU6bfCOtb1MtKt3715EEjhCXXnLyza9GjNyYP7tC3itKHrpDAAAAAElFTkSuQmCC);
  padding-right: 32px;
  padding-right: 2rem;
}

.answer-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  margin-top: 2rem;
}

.answer-btn {
  border-radius: 1.5rem;
  background-color: #6b6ff4;
  box-shadow: .5rem .8rem 2rem #494dc9;
  border: none;
  width: 90vw;
  height: 18vh;
  padding: 16px;
  padding: 1rem;
  margin-top: 32px;
  margin-top: 2rem;
  font-family: denmark;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.phone-vote {
  margin-top: 64px;
  margin-top: 4rem;
}

.phone-title {
  font-size: 48px;
  font-size: 3rem;
}

.desc-mobile {
  margin-top: 16px;
  margin-top: 1rem;
}

.desc {
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.button-next {
  margin-top: 64px;
  margin-top: 4rem;
  border: none;
  background-color: #6b6ff4;
  box-shadow: .5rem .8rem 2rem #494dc9;
  border-radius: 3rem;
}

>>>>>>> fac5eec952236b30f4b3b7e2e89d7be5fee3e463
/*# sourceMappingURL=style.css.map*/