@import 'reset';

:root {
  --dark-blue: #494dc9;
  --light-blue: #6b6ff4;
  --shadow-blue: #1d22b1;
}

body {
  font-family: freightmedium, 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 3rem;
  background: radial-gradient(var(--light-blue), var(--dark-blue));
  background-size: 100vw 100vh;
  color: white;
  line-height: 1.92rem;
}

header {
  margin: 2rem 0;
}

h1 {
  color: white;
  font-size: 4rem;
  font-family: denmark;
}

a {
  text-decoration: none;
  color: white;
}

.container-image {
  width: 100%;
}

.image {
  position: relative;
  z-index: -1;
  height: 30rem;
  width: 28vw;
  object-fit: cover;
  margin-top: 2rem;
  margin-right: 3rem;
  box-shadow: .5rem .8rem 2rem var(--dark-blue);
}

.list-images {
  z-index: -12;
  display: flex;
}

.abc {
  position: absolute;
  z-index: 12;
  margin-top: 31rem;
  margin-left: 30rem;
  font-size: 6rem;
  text-shadow: .5rem .8rem 2rem var(--dark-blue);
}

.players {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.playernumber {
  font-family: denmark;
  font-size: 2rem;
  font-weight: 800;
  padding-left: 2rem;
}

.startpage {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homebody {
  margin: 0 auto;
  text-align: center;
}

.button {
  margin-left: 5rem;
  margin-right: 1rem;
  padding: 1rem 3rem;
  border-radius: 4rem;
  background-color: var(--light-blue);
  box-shadow: .5rem .8rem 2rem var(--dark-blue);
}

.buttons {
  margin-top: 30rem;
}

.vote-value {
  color: black;
  font-size: 2.5rem;
  font-weight: 800;
  width: 12rem;
  margin-left: 16.5rem;
  margin-top: 7rem;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: white;
  box-shadow: .5rem .8rem 2rem var(--dark-blue);

  &::before {
    content: url(../assets/img/heart.png);
    padding-right: 2rem;
  }
}

.answer-btn-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2rem;
}

.answer-btn {
  border-radius: 1.5rem;
  background-color: var(--light-blue);
  box-shadow: .5rem .8rem 2rem var(--dark-blue);
  border: none;
  width: 90vw;
  height: 18vh;
  padding: 1rem;
  margin-top: 2rem;
  font-family: denmark;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.phone-vote {
  margin-top: 4rem;
}

.phone-title {
  font-size: 3rem;
}

.desc-mobile {
  margin-top: 1rem;
}

.desc {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.button-next {
  margin-top: 4rem;
  border: none;
  background-color: var(--light-blue);
  box-shadow: .5rem .8rem 2rem var(--dark-blue);
  border-radius: 3rem;
}
